body {
    background: rgb(246, 243, 239);
}

.hero-image {
    background: url('../img/travel-022.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    color: rgb(253, 250, 250);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features-section {
    background: #fdf5e6;
    padding: 50px 0;
}

.features-section .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}