*{
  box-sizing: border-box;
}
body {
  background-color: #eee;
  color: #1e2c57;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.5;
  height: 100%;
  margin: 2em;
}
header {
  height: 100px;
}
header h1{
  display: inline-block;
}
header h1 a {
  text-decoration: none;
  color: #1e2c57;
}
header h1 a:hover {
  color: #39529e;
}
header img{
  height: 1em;
  margin-left: 5px;
}
.sidebar{
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 0 0 5%;
  white-space: nowrap;
  margin-right: 20px;
  align-items: center;
}
.sidebar h2 {
  display: inline-block;
  background-color: #243567;
  border-radius: 0.3em;
  padding: 0.5em;
  color: #ece0e0;
  
}
.sidebar .flex-item{
  margin-bottom: 15px;
}
.sidebar .flex-item span:hover{
  color: #39529e;
}
.sidebar .flex-item span{
  display: inline-block;
  vertical-align: middle;
  color: #1e2c57;
}

.sidebar .flex-item img{
  height: 1em;
  margin-right: 5px;
  vertical-align: middle;
}
@media (max-width: 798px) {
  .sidebar .flex-item a span, .sidebar .flex-item h2{
      display: none;
  }
  .sidebar{
      margin-top: 25px;
  }
}
@media (min-width: 799px) {
  #menu{
      display: none;
  }
  .sidebar{
      flex: 0 0 12.5%;
  }
}


.container{
  display: flex;
  height: 100%;
  flex: 1;
}

.mainbar {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}
.plan_header{
  position: relative;
  background-image: url("../img/plan_name.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 0.7em;
}
.plan_header a {
  text-decoration: none;
}
.plan_header .delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.add-event{
  padding: 15px;
  border-radius: 2em;
  color: #1e2c57;
  background-color: #eee;
  border: 3px solid #1e2c57;
  position: fixed;
  bottom: 50px;
  right: 50px; 
}
.add-event:hover{
  color: #39529e;
}
.flex-day{
  width: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-top: 1px solid #243567;
}
.flex-default, .flex-itinerary{
  max-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 5px 5px 10px 0;
  color: #ece0e0;
  background-color: #39529e;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.flex-default h3, .flex-default p {
  margin: 0;
  white-space: normal;
}
.flex-event{
  position: relative;
}
.flex-itinerary {
  position: relative;
}
.flex-itinerary .delete-icon{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.flex-event{
  background-color: rgb(98, 195, 163);
  position: relative;
}
.flex-event .delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#needs_attention{
  background-color: rgb(243, 186, 70);
}
#needs_attention p{
  color: rgb(131, 0, 0);
  text-align: center;
}
@media (min-width: 799px) {
  .flex-day{
      flex-direction: row;
      white-space: nowrap;
      flex-wrap: wrap;
  }
  .flex-day h3{               /*!!!!!!!!!!!!!!!!!!!!!!!!Problem: different format for different flex-days on dif sizes*/
      margin-right: 30px;
  
  }
  .flex-items{
    display: flex;
    flex-wrap: wrap;
}
  .flex-default{
      flex: 0 0 40%;
      width: 200px;
      margin-top: 20px;
  }
  .flex-event{
    flex-basis: 100%;
  }
  .flex-itinerary{
    flex-basis: 100%;
  }

}
