*{
  box-sizing: border-box;
}
body {
  background-color: #eee;
  color: #1e2c57;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.5;
  height: 100%;
  margin: 2em;
}
header {
  height: 100px;
}
header h1{
  display: inline-block;
}
header img{
  height: 1em;
  margin-left: 5px;
}
.sidebar{
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 0 0 5%;
  white-space: nowrap;
  margin-right: 20px;
  align-items: center;
}
.sidebar h2 {
  display: inline-block;
  background-color: #243567;
  border-radius: 5em;
  padding: 0.5em;
  color: #ece0e0;
  
}
.sidebar .flex-item{
  margin-bottom: 15px;
}
.sidebar .flex-item span{
  display: inline-block;
  vertical-align: middle;
}

.sidebar .flex-item img{
  height: 1em;
  margin-right: 5px;
  vertical-align: middle;
}
@media (max-width: 798px) {
  .sidebar .flex-item a span, .sidebar .flex-item h2{
      display: none;
  }
  .sidebar{
      margin-top: 25px;
  }
}
@media (min-width: 799px) {
  #menu{
      display: none;
  }
  .sidebar{
      flex: 0 0 12.5%;
  }
}


.container{
  display: flex;
  height: 100%;
  flex: 1;
}

.mainbar {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}
.plan_header{
  background-image: url("../img/plan_name.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 0.7em;
}


.flex-day{
  width: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-top: 1px solid #243567;
}
.flex-default{
  max-width: 100%;
  word-wrap: break-word;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.flex-default h3, .flex-default p {
  margin: 0;
  white-space: normal;
}
@media (min-width: 799px) {
  .flex-day{
      flex-direction: row;
      white-space: nowrap;
      flex-wrap: wrap;
  }
  .flex-day h2{
      margin-right: 30px;
  
  }
  .flex-items{
      display: flex;
      flex-wrap: wrap;
  }
  .flex-default{
      flex: 0 0 40%;
      margin: 10px 10px 30px 0;
      background-color: #39529e;
      border-radius: 0.5em;
      padding: 10px;
      color: #ece0e0;
      width: 200px;
      height: 200px;
      padding: 10px;
      border: 1px solid #ccc;
      overflow-wrap: break-word;
      word-wrap: break-word;
  }
  #test{
      background-color: greenyellow;
  }
  

}
