body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  background : url('../img/sky.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  height: 100px;
} 

header h1{
  display: inline-block;
}

header img{
  height: 1em;
  margin-left: 5px;
}

h1 {
  text-align: center;
}

form {
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

footer {
  color: black;
  padding: 10px;
  text-align: center;
}


@media screen and (max-width: 767px) {
  form {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  form {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  form {
    max-width: 50%;
    margin: 0 auto;
  }
}
